<div class="row">
  <div class="col-xs-12">
    <div>
      <ul>
        <li>
          <a [routerLink]="['/personas', indice]" [queryParams]="{modoEdicion:'1'}">
            {{indice+1}}: {{persona.nombre}} {{persona.apellido}} 
          </a>
        </li>
      </ul>
        <!-- <input type="checkbox" (click)="emitirSaludo()"> -->
      <!-- <button type="submit" class="btn btn-info" (click)="emitirSaludo()">
        Editar
      </button><br> -->
    </div>
  </div>
</div>