<div class="row text-center login-page">
  <div class="col-md-12 login-form">
     <form #f="ngForm" (ngSubmit)="f.form.valid && login(f)"> 			
        <div class="row">
     <div class="col-md-12 login-form-header">
        <p class="login-form-font-header">Intra<span>Life</span><p>
     </div>
 </div>
 <div class="row">
    <div class="col-md-12 login-from-row">
       <input name="email" type="email" placeholder="Email" ngModel required/>
    </div>
 </div>
 <div class="row">
    <div class="col-md-12 login-from-row">
       <input name="password" type="password" placeholder="Contraseña" ngModel required/>
    </div>
 </div>
 <div class="row">
    <div class="col-md-12 login-from-row">
       <button type="submit" class="btn btn-info">Entrar</button>
    </div>
 </div>
   </form>
</div>
  </div>