<form class="form-row" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()">
  <div class="form-group col-md-2">
    <label for="nombre" class="sr-only">
      Nombre
    </label>
    <!-- <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" #nombreInput required> -->
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="nombreInput"> 
    <!-- Refencias no locales -->
  </div>
  <div class="form-group col-md-2">
    <label for="apellido" class="sr-only">
      Apellido
    </label>
    <!-- <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" #apellidoInput required> -->
    <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="apellidoInput"> 
    <!-- Refencias no locales -->
  </div>
  <div class="col">
  <!-- <button type="submit" class="btn btn-primary" (click)="onAgregarPersona()">Agregar</button> --> 
    <button type="submit" class="btn btn-primary">+</button>
    <button *ngIf="index != null" type="submit" class="btn btn-danger" (click)="eliminarPersona()">-</button>
    <!-- Referencias locales -->
    <!-- <button type="submit" class="btn btn-primary" (click)="onAgregarPersona()">Agregar</button> -->
  </div>
</form>