<div style="text-align: center">
  <button style="cursor: pointer" (click)="agregar()">Agreagar +</button>
</div>
<app-formulario (personaCreada)="onPersonaAgreagada($event)"></app-formulario>
<hr>
<app-persona *ngFor="let personaE of personas; let i = index" [persona]="personaE" [indice]="i"></app-persona>


<router-outlet></router-outlet>