<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" *ngIf="!isAutenticado()" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isAutenticado()" href="#">Login</a>
        </li>
      </ul>
      <ul class=" my-2 my-lg-0" style="list-style: none">
        <li class="nav-item">
          <a class="nav-link" href="#" *ngIf="isAutenticado()" style="text-decoration: none" (click)="salir()">Salir</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-xs-12">
    <h3>{{titulo}}</h3>
  </div>
  <hr>
    <!-- <app-personas></app-personas> -->
  <router-outlet></router-outlet>
</div>